.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.3em;
}

.game .cell {
  border: 1px solid white;
  width: 2em;
  height: 2em;
}

.game .cell > input {
  background-color: transparent;
  font-size: inherit;
  border: none;
  width: 2em;
  outline-offset: 0;
  padding: 0;
  color: inherit;

  text-align: center;
}
